/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
  text-align: center;
}

.input-container {
  background-color: #e7f1ff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  /* Fix width and margin */
  width: calc(100% - 20px); /* Adjust the value as needed */
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #dfe7ff;
  box-sizing: border-box;
}

.translated-text {
  font-size: 18px;
  line-height: 1.6;
}

/* Mobile responsiveness */
@media screen and (max-width: 600px) {
  .App {
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .App {
    padding: 5px;
  }
}
